:root {
    --sectionsbackground: gainsboro;
    --border: 3px solid;
    --fontgroup: 'Signika Negative', sans-serif;
}


.navbar{
    display: flex;
    font-family: var(--fontgroup); 
    font-weight: bolder;
    justify-content: center;
    font-size: xx-large;
    color: beige;
    text-align: center;
    border-top: 0px;
    border: var(--border);
    border-radius: 7px;
}

.grid-container{
    display: grid;
}

.table{
    width: 100%;
}

.input-group{
    display: flex;
    justify-content: center;
}

.container{
    width: 100%;
}

#headingsearch{
    text-align: center;
    font-family: var(--fontgroup);
    font-weight: bolder;
    font-size:medium
}

.placeholders{
    display: flex;
    justify-content: space-around;
}

.footer{
    display: flex;
    justify-content: center;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 0px;
    border: var(--border);
    border-radius: 7px;
    font-family: var(--fontgroup);
    font-weight: bolder;
    font-size:xx-large;
    color: beige;
}

#fivedayforecast{
    text-align: center;

}
