:root {
    --sectionsbackground: gainsboro;
    --border: 3px solid;
    --fontgroup: 'Signika Negative', sans-serif;
}


.navbar{
    display: flex;
    font-family: var(--fontgroup); 
    font-weight: bolder;
    justify-content: center;
    font-size: xx-large;
    color: beige;
    text-align: center;
    border-top: 0px;
    border: var(--border);
    border-radius: 7px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    padding-left: 5px;
}

.grid-container h2{
    font-size: x-large;
    text-align: center;
}




.item{
    justify-self: center;
    width: 175px;
    height: 250px;
}

.cityList{
    display: flex;
    justify-content: center;
    font-family: var(--fontgroup);
}

#currentWeather{
    background-color: #0d6efd;
    color: beige;
    font-family: var(--fontgroup);
    border-radius: 10px;
}

#currentWeather li{
    list-style-type: none;
    font-size: large;
    text-align: center;
}

#currentWeather img{
    width: 100px;
    height: 100px;
    margin-left: 35px;
   
}



.Day{
    background-color: #0d6efd;
    color: beige;
    font-family: var(--fontgroup);
    border-radius: 10px;
    text-align: center;
}

.Day img{
    width: 100px;
    height: 100px;
    margin-left: 25px;
}


.input-group{
    display: flex;
    justify-content: center;
}

.container{
    width: 100%;
}

#headingsearch{
    text-align: center;
    font-family: var(--fontgroup);
    font-weight: bolder;
    font-size:medium
}

/* .placeholders{
    display: flex;
    justify-content: space-around;
} */

.footer{
    display: flex;
    justify-content: center;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 0px;
    border: var(--border);
    border-radius: 7px;
    font-family: var(--fontgroup);
    font-weight: bolder;
    font-size:xx-large;
    color: beige;
}

/* #fivedayforecast{
    text-align: center;

} */
